In [2]:
import pandas as pd
import csv
import numpy as np
from datetime import datetime
import time
import random
from math import sqrt

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
file = '1minute_data_austin.csv'

In [8]:
data = pd.read_csv(file)

In [9]:
data

,dataid,localminute,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
0,661,2018-01-01 01:21:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,661,2018-01-01 01:00:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,661,2018-01-01 01:01:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,661,2018-01-01 01:02:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,661,2018-01-01 01:03:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13100534,7951,2018-02-07 15:26:00-06,0.0,0.007,NaN,NaN,NaN,-0.003,0.003,NaN,...,NaN,NaN,NaN,NaN,-0.001,NaN,NaN,NaN,122.726,122.830
13100535,7951,2018-02-07 15:27:00-06,0.0,0.008,NaN,NaN,NaN,-0.003,0.003,NaN,...,NaN,NaN,NaN,NaN,-0.001,NaN,NaN,NaN,122.800,122.738
13100536,7951,2018-02-07 15:28:00-06,0.0,0.005,NaN,NaN,NaN,-0.002,0.003,NaN,...,NaN,NaN,NaN,NaN,-0.001,NaN,NaN,NaN,122.945,122.728
13100537,7951,2018-02-07 15:29:00-06,0.0,0.004,NaN,NaN,NaN,-0.002,0.003,NaN,...,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,122.907,122.724
13100538,7951,2018-02-07 15:30:00-06,0.0,0.002,NaN,NaN,NaN,-0.001,0.003,NaN,...,NaN,NaN,NaN,NaN,0.000,NaN,NaN,NaN,122.914,122.858

In [10]:
data.head()

,dataid,localminute,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
0,661,2018-01-01 01:21:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,661,2018-01-01 01:00:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,661,2018-01-01 01:01:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,661,2018-01-01 01:02:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,661,2018-01-01 01:03:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
ids = data.dataid.unique()
ids

array([ 661, 1642, 2335, 2818, 3039, 3456, 3538, 4031, 4373, 4767, 5746,
       6139, 7536, 7719, 7800, 7901, 7951, 8565, 9019, 9278, 8156, 8386,
       2361, 9922, 9160])

In [12]:
ids.shape

(25,)

In [15]:
#generate complex power using random power factor (between .9-.95)
def complex_power(real_power):
    power_factor = random.uniform(.9, .95)
    apparent_power = real_power / power_factor
    reactive_power = sqrt(apparent_power**2 - real_power**2)
    return str(round(real_power,6))+ '+' + str(round(reactive_power,6))+'j'

In [16]:
for id in ids:
    df = data[data['dataid']==id]
    
    # Fill NaN with mean of non-NaN value before and after it
    df['grid'] = (df['grid'].ffill()+df['grid'].bfill())/2
    df['grid'] = df['grid'].bfill().ffill()
    df = df.reset_index()
    
    #get first timestamp
    timestamp = str(df.iloc[0]['localminute'])
    if(timestamp[11]=='0'):
        timestamp = timestamp[:10] + ' ' + timestamp[12:-3] + ' CST'
    else:
        timestamp = timestamp[:-3] + ' CST'
    
    #create dataframe for player file output
    final_df = pd.DataFrame(index=range(df.shape[0]),columns=range(2))
    final_df.columns = ['time','grid']
    final_df['time'] = '+60s'
    final_df['grid'] = df['grid'] * 1000 #change to kW
    final_df['grid'] = final_df['grid'].map(complex_power) #convert to complex

    final_df['time'].iloc[0] = timestamp
    print(final_df.head())
    final_df.to_csv('./player_files/' + str(id) + '.player', header=None, index=None)

                     time                grid
0  2018-01-01 1:21:00 CST  1806.0+763.682476j
1                    +60s  1817.0+643.499627j
2                    +60s  1804.0+844.754468j
3                    +60s  1761.0+579.588339j
4                    +60s  1672.0+596.250673j
                     time               grid
0  2018-01-01 0:10:00 CST  359.0+142.608578j
1                    +60s  326.0+123.598073j
2                    +60s  325.0+155.813391j
3                    +60s  325.0+145.125706j
4                    +60s  445.0+185.221537j
                      time                grid
0  2018-01-01 18:36:00 CST  1565.0+704.550731j
1                     +60s  1489.0+666.207087j
2                     +60s  1482.0+574.246587j
3                     +60s  1477.0+525.443959j
4                     +60s  1477.0+543.460208j
                     time                grid
0  2018-01-01 0:00:00 CST  1373.0+542.505167j
1                    +60s  1287.0+541.962769j
2                    +60s  1300.0+608.365828j
3                    +60s  1163.0+423.543242j
4                    +60s   876.0+371.513713j
                      time                 grid
0  2018-01-01 18:00:00 CST   2083.0+745.966219j
1                     +60s   2084.0+844.687552j
2                     +60s  2069.0+1001.045322j
3                     +60s   2081.0+900.219838j
4                     +60s   2073.0+834.076229j
                     time               grid
0  2018-01-01 1:23:00 CST  811.0+344.564233j
1                    +60s  319.0+110.094842j
2                    +60s    200.0+66.47208j
3                    +60s   200.0+73.452194j
4                    +60s   201.0+89.616955j
                     time                grid
0  2018-01-01 0:00:00 CST  1091.0+409.213145j
1                    +60s  1118.0+539.625773j
2                    +60s  1093.0+437.748647j
3                    +60s  1091.0+476.151968j
4                    +60s   1089.0+452.80569j
                     time                grid
0  2018-01-01 0:00:00 CST  1058.0+402.711147j
1                    +60s   604.0+225.316695j
2                    +60s   632.0+295.708808j
3                    +60s   666.0+262.796104j
4                    +60s   664.0+241.752281j
                     time                grid
0  2018-01-01 0:00:00 CST  1760.0+753.268623j
1                    +60s  1758.0+651.944685j
2                    +60s  1752.0+755.912147j
3                    +60s   1673.0+800.04159j
4                    +60s  1655.0+633.526682j
                     time               grid
0  2018-01-01 0:08:00 CST  657.0+281.301673j
1                    +60s  656.0+313.325431j
2                    +60s  656.0+258.237523j
3                    +60s  656.0+235.020474j
4                    +60s  664.0+311.859634j
                     time                grid
0  2018-01-01 0:00:00 CST  2081.0+866.440875j
1                    +60s  2060.0+816.217655j
2                    +60s   2088.0+826.89383j
3                    +60s  2023.0+703.885432j
4                    +60s  1780.0+844.006628j
                     time                 grid
0  2018-01-01 0:00:00 CST    2444.0+1042.8844j
1                    +60s  2433.0+1022.382294j
2                    +60s   2371.0+885.191968j
3                    +60s  2339.0+1045.898195j
4                    +60s  2333.0+1117.068254j
                     time                grid
0  2018-01-01 0:00:00 CST   1118.0+488.61988j
1                    +60s  1118.0+431.976151j
2                    +60s  1115.0+396.850019j
3                    +60s  1127.0+387.004542j
4                    +60s  1122.0+495.692711j
                     time                grid
0  2018-01-01 0:00:00 CST  1877.0+753.374945j
1                    +60s  1681.0+713.256411j
2                    +60s  1668.0+603.431815j
3                    +60s  1780.0+746.589642j
4                    +60s  1687.0+589.405585j
                     time                grid
0  2018-01-01 0:04:00 CST  1163.0+474.721315j
1                    +60s  1273.0+585.828438j
2                    +60s  1293.0+601.124677j
3                    +60s  1286.0+488.395381j
4                    +60s  1285.0+490.709256j
                     time                grid
0  2018-01-01 0:00:00 CST  1057.0+405.125352j
1                    +60s  1255.0+526.604648j
2                    +60s  1216.0+455.682307j
3                    +60s  1236.0+466.135023j
4                    +60s   1149.0+480.82778j
                     time                  grid
0  2018-01-01 0:00:00 CST    1124.0+432.498894j
1                    +60s    1124.0+439.164004j
2                    +60s    1142.0+382.725245j
3                    +60s   6397.0+3065.225512j
4                    +60s  11332.0+4065.312718j
                     time                grid
0  2018-01-01 0:58:00 CST   611.0+202.026517j
1                    +60s   611.0+216.482651j
2                    +60s  1256.0+521.171002j
3                    +60s   985.0+379.260516j
4                    +60s  1046.0+436.895097j
                     time               grid
0  2018-01-01 0:16:00 CST  617.0+290.843065j
1                    +60s  614.0+282.346559j
2                    +60s  612.0+278.547343j
3                    +60s  652.0+275.293169j
4                    +60s  689.0+293.902162j
                     time                  grid
0  2018-01-01 0:20:00 CST     938.0+398.750822j
1                    +60s    1407.0+567.893738j
2                    +60s    1158.0+498.114044j
3                    +60s    2235.0+757.330882j
4                    +60s  21459.0+9945.229936j
                     time                grid
0  2018-01-01 0:00:00 CST   788.0+262.574983j
1                    +60s   790.0+327.731347j
2                    +60s  1106.0+509.162522j
3                    +60s  1704.0+797.178194j
4                    +60s   1709.0+719.54328j
                     time                grid
0  2018-01-01 0:00:00 CST  1070.0+409.310733j
1                    +60s  1146.0+498.511998j
2                    +60s   1017.0+444.06975j
3                    +60s  1210.0+570.115269j
4                    +60s  1220.0+408.948131j
                     time               grid
0  2018-01-01 0:07:00 CST  616.0+290.469261j
1                    +60s  593.0+287.090589j
2                    +60s  523.0+211.690027j
3                    +60s  460.0+211.210155j
4                    +60s  460.0+183.598191j
                     time               grid
0  2018-01-01 0:00:00 CST  782.0+353.646153j
1                    +60s  782.0+288.697605j
2                    +60s   782.0+329.43337j
3                    +60s  782.0+368.958025j
4                    +60s  782.0+347.793916j
                     time              grid
0  2018-02-01 0:48:00 CST  160.0+62.919046j
1                    +60s  163.0+63.728638j
2                    +60s  203.0+95.971274j
3                    +60s  158.0+60.725347j
4                    +60s  158.0+62.215048j