In [2]:
import numpy as np
import pandas as pd
import os

# Data Preprocessing

In [3]:
#reading 3 phase DPMU output from gridlabD
dpmu_phaseA = pd.read_csv(r'C:\Users\pragn\Desktop\grid-edge\data\summer\targets\trimmed_targets\aug\multi_voltageA.csv')
dpmu_phaseB = pd.read_csv(r'C:\Users\pragn\Desktop\grid-edge\data\summer\targets\trimmed_targets\aug\multi_voltageB.csv')
dpmu_phaseC = pd.read_csv(r'C:\Users\pragn\Desktop\grid-edge\data\summer\targets\trimmed_targets\aug\multi_voltageC.csv')

In [4]:
dpmu_phaseA_july = pd.read_csv(r'C:\Users\pragn\Desktop\grid-edge\data\summer\targets\trimmed_targets\july\multi_voltageA.csv')
dpmu_phaseB_july = pd.read_csv(r'C:\Users\pragn\Desktop\grid-edge\data\summer\targets\trimmed_targets\july\multi_voltageB.csv')
dpmu_phaseC_july = pd.read_csv(r'C:\Users\pragn\Desktop\grid-edge\data\summer\targets\trimmed_targets\july\multi_voltageC.csv')

In [5]:
# dropping meter data
dpmu_phaseA = dpmu_phaseA.drop(['Meter1', 'Meter2', 'Meter3', 'Meter4', 'Meter5', '# timestamp'], axis=1)
dpmu_phaseB = dpmu_phaseB.drop(['Meter1', 'Meter2', 'Meter3', 'Meter4', 'Meter5', '# timestamp'], axis=1)
dpmu_phaseC = dpmu_phaseC.drop(['Meter1', 'Meter2', 'Meter3', 'Meter4', 'Meter5', '# timestamp'], axis=1)

In [6]:
# dropping meter data
dpmu_phaseA_july = dpmu_phaseA_july.drop(['Meter1', 'Meter2', 'Meter3', 'Meter4', 'Meter5', '# timestamp'], axis=1)
dpmu_phaseB_july = dpmu_phaseB_july.drop(['Meter1', 'Meter2', 'Meter3', 'Meter4', 'Meter5', '# timestamp'], axis=1)
dpmu_phaseC_july = dpmu_phaseC_july.drop(['Meter1', 'Meter2', 'Meter3', 'Meter4', 'Meter5', '# timestamp'], axis=1)

In [7]:
phaseA = 0
phaseB = 1
phaseC = 2

In [8]:
# creating target dpmu dataframe
dpmu_data = pd.DataFrame()

In [9]:
dpmu_data_july = pd.DataFrame()

In [10]:
for (columnName, columnData) in dpmu_phaseA.iteritems():
    split_column_names = columnName.split('_')
    house_name = 'house'+str(split_column_names[phaseA])
    dpmu_values = pd.Series(columnData.values).str.replace("i", "j").apply(lambda x: abs(complex(x)))
    dpmu_data[house_name] = dpmu_values

In [11]:
for (columnName, columnData) in dpmu_phaseA_july.iteritems():
    split_column_names = columnName.split('_')
    house_name = 'house'+str(split_column_names[phaseA])
    dpmu_values = pd.Series(columnData.values).str.replace("i", "j").apply(lambda x: abs(complex(x)))
    dpmu_data_july[house_name] = dpmu_values

In [12]:
for (columnName, columnData) in dpmu_phaseB.iteritems():
    split_column_names = columnName.split('_')
    house_name = 'house'+str(split_column_names[phaseB])
    dpmu_values = pd.Series(columnData.values).str.replace("i", "j").apply(lambda x: abs(complex(x)))
    dpmu_data[house_name] = dpmu_values

In [13]:
for (columnName, columnData) in dpmu_phaseB_july.iteritems():
    split_column_names = columnName.split('_')
    house_name = 'house'+str(split_column_names[phaseB])
    dpmu_values = pd.Series(columnData.values).str.replace("i", "j").apply(lambda x: abs(complex(x)))
    dpmu_data_july[house_name] = dpmu_values

In [14]:
for (columnName, columnData) in dpmu_phaseC.iteritems():
    split_column_names = columnName.split('_')
    house_name = 'house'+str(split_column_names[phaseC])
    dpmu_values = pd.Series(columnData.values).str.replace("i", "j").apply(lambda x: abs(complex(x)))
    dpmu_data[house_name] = dpmu_values

In [15]:
for (columnName, columnData) in dpmu_phaseC_july.iteritems():
    split_column_names = columnName.split('_')
    house_name = 'house'+str(split_column_names[phaseC])
    dpmu_values = pd.Series(columnData.values).str.replace("i", "j").apply(lambda x: abs(complex(x)))
    dpmu_data_july[house_name] = dpmu_values

In [16]:
dpmu_data

,house1,house4,house7,house13,house10,house22,house19,house16,house2,house5,...,house20,house17,house3,house6,house9,house15,house12,house24,house21,house18
0,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
1,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
2,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
3,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
4,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2387.104473,2386.077784,2384.346363,2367.778064,2374.301786,2373.477865,2374.301727,2371.322292,2377.551222,2384.543610,...,2381.946131,2381.909836,2343.973200,2359.890256,2359.394598,2328.649481,2339.909057,2336.996585,2339.909057,2332.862052
44636,2378.035121,2373.127672,2371.335953,2357.390476,2363.769912,2362.893163,2363.769856,2361.471984,2365.085650,2380.526469,...,2371.117663,2369.014378,2346.678386,2362.453781,2361.973655,2335.601307,2346.367529,2343.556913,2346.367529,2339.980284
44637,2378.251725,2374.093987,2372.699179,2355.788788,2361.956775,2361.066147,2361.946730,2360.166105,2350.982897,2373.260249,...,2363.430961,2360.175867,2354.201535,2368.498071,2368.096015,2344.869655,2355.168952,2352.457341,2355.168952,2349.198187
44638,2368.568817,2374.353238,2373.760552,2357.668860,2363.842782,2362.982489,2363.842737,2362.065037,2354.477412,2369.472540,...,2362.413865,2359.392995,2351.468713,2368.473856,2368.612726,2342.397342,2352.947005,2350.347309,2352.947005,2346.753160
44639,2362.149755,2371.768827,2371.445673,2351.491371,2357.737060,2356.916690,2357.737017,2355.756547,2359.939974,2370.891657,...,2362.937240,2359.883061,2353.803893,2372.652522,2372.809565,2354.149282,2361.530329,2358.928047,2361.535132,2356.402632

In [17]:
dpmu_data_july

,house1,house4,house7,house13,house10,house22,house19,house16,house2,house5,...,house20,house17,house3,house6,house9,house15,house12,house24,house21,house18
0,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
1,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
2,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
3,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
4,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2354.981569,2356.501154,2356.371674,2298.294668,2314.106710,2312.684013,2314.106525,2304.584359,2397.343558,2407.335162,...,2431.354337,2433.736063,2355.706176,2373.429057,2373.154753,2365.028371,2367.301307,2367.311355,2367.301307,2365.767867
44636,2357.498997,2360.223429,2360.104146,2296.923471,2316.017661,2315.762936,2316.017525,2305.044336,2391.528544,2404.533860,...,2428.730076,2431.526970,2356.338677,2375.110182,2374.827288,2367.690672,2369.666172,2369.360977,2369.666172,2368.296054
44637,2367.327075,2370.219775,2370.017431,2325.367417,2337.321295,2337.064834,2337.321191,2329.262881,2381.371047,2393.677208,...,2411.964287,2412.281451,2357.857882,2377.024049,2376.944874,2369.041728,2370.810917,2370.518105,2370.810917,2369.873845
44638,2354.722531,2356.504647,2355.691517,2293.492157,2314.029869,2313.774454,2314.029735,2302.574949,2382.334781,2393.245645,...,2415.705621,2414.375853,2361.827903,2379.448576,2379.557682,2371.916897,2373.555573,2373.246764,2373.555573,2373.142679
44639,2364.429058,2365.266888,2363.479043,2323.551466,2334.832996,2334.585848,2334.832910,2329.049374,2372.349874,2383.923104,...,2395.530673,2391.496132,2366.713161,2383.437249,2383.460325,2379.482669,2380.679556,2380.385517,2380.670881,2380.915953

In [18]:
# concatenating aug and july along rows
dpmu_data = pd.concat([dpmu_data, dpmu_data_july], axis=0)

In [19]:
dpmu_data

,house1,house4,house7,house13,house10,house22,house19,house16,house2,house5,...,house20,house17,house3,house6,house9,house15,house12,house24,house21,house18
0,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
1,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
2,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
3,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
4,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.780000,2401.777840,2401.777840,...,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840,2401.777840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2354.981569,2356.501154,2356.371674,2298.294668,2314.106710,2312.684013,2314.106525,2304.584359,2397.343558,2407.335162,...,2431.354337,2433.736063,2355.706176,2373.429057,2373.154753,2365.028371,2367.301307,2367.311355,2367.301307,2365.767867
44636,2357.498997,2360.223429,2360.104146,2296.923471,2316.017661,2315.762936,2316.017525,2305.044336,2391.528544,2404.533860,...,2428.730076,2431.526970,2356.338677,2375.110182,2374.827288,2367.690672,2369.666172,2369.360977,2369.666172,2368.296054
44637,2367.327075,2370.219775,2370.017431,2325.367417,2337.321295,2337.064834,2337.321191,2329.262881,2381.371047,2393.677208,...,2411.964287,2412.281451,2357.857882,2377.024049,2376.944874,2369.041728,2370.810917,2370.518105,2370.810917,2369.873845
44638,2354.722531,2356.504647,2355.691517,2293.492157,2314.029869,2313.774454,2314.029735,2302.574949,2382.334781,2393.245645,...,2415.705621,2414.375853,2361.827903,2379.448576,2379.557682,2371.916897,2373.555573,2373.246764,2373.555573,2373.142679
44639,2364.429058,2365.266888,2363.479043,2323.551466,2334.832996,2334.585848,2334.832910,2329.049374,2372.349874,2383.923104,...,2395.530673,2391.496132,2366.713161,2383.437249,2383.460325,2379.482669,2380.679556,2380.385517,2380.670881,2380.915953

In [20]:
# creating input grid dataframe
input_player_df = pd.DataFrame()

In [21]:
input_player_df_july = pd.DataFrame()

In [22]:
directory = r"C:\Users\pragn\Desktop\grid-edge\data\summer\input_csv\aug"

for filename in os.listdir(directory):
    if str(filename).startswith('25.csv') or str(filename).startswith('analyze-player'):
        continue
    player = pd.read_csv(os.path.join(directory, filename))
    player['grid'] = player['grid'].str.replace("i", "j").apply(lambda x: complex(x))
    node_id = player['id'].loc[0]
    column_name_p = 'p_'+str(node_id)
    column_name_q = 'q_'+str(node_id)
    input_player_df[column_name_p] = player['grid'].apply(lambda x: x.real).head(44640)
    input_player_df[column_name_q] = player['grid'].apply(lambda x: x.imag).head(44640)

In [23]:
directory = r"C:\Users\pragn\Desktop\grid-edge\data\summer\input_csv\july"

for filename in os.listdir(directory):
    if str(filename).startswith('25.csv'):
        continue
    player = pd.read_csv(os.path.join(directory, filename))
    player['grid'] = player['grid'].str.replace("i", "j").apply(lambda x: complex(x))
    node_id = player['id'].loc[0]
    column_name_p = 'p_'+str(node_id)
    column_name_q = 'q_'+str(node_id)
    input_player_df_july[column_name_p] = player['grid'].apply(lambda x: x.real).head(44640)
    input_player_df_july[column_name_q] = player['grid'].apply(lambda x: x.imag).head(44640)

In [24]:
input_player_df = pd.concat([input_player_df, input_player_df_july], axis=0)

In [25]:
input_player_df

,p_1,q_1,p_10,q_10,p_11,q_11,p_12,q_12,p_13,q_13,...,p_5,q_5,p_6,q_6,p_7,q_7,p_8,q_8,p_9,q_9
0,43770.0,18273.479083,49815.0,19677.968025,6210.0,2993.529277,7680.0,2977.205699,61020.0,25629.453761,...,53790.0,22680.824631,67515.0,26725.875676,29070.0,12766.083147,6045.0,2538.376656,5310.0,1768.574303
1,43800.0,16056.165241,49830.0,21169.506826,6210.0,2503.047231,7410.0,3187.775742,60975.0,24463.259976,...,53640.0,18591.367838,67395.0,24229.587465,39240.0,16830.434105,6090.0,2080.689498,5295.0,1960.017239
2,43740.0,16725.190261,49980.0,18571.507872,6210.0,2406.866873,7410.0,3368.241776,95295.0,34245.168859,...,53670.0,17841.890713,67035.0,23688.227789,39525.0,14630.069312,6165.0,2053.104821,5265.0,2332.545638
3,43695.0,14533.893706,49920.0,21483.136368,6210.0,2552.831448,7410.0,2727.305834,111255.0,45610.401766,...,53565.0,25357.082993,67005.0,25112.807910,39675.0,15125.471091,8325.0,3691.961411,5280.0,1817.387203
4,43635.0,18926.971373,49875.0,19129.801554,6210.0,2285.612698,8385.0,2785.115072,105225.0,42562.705246,...,53520.0,24179.304713,67050.0,27466.505811,39645.0,16417.639968,7950.0,2996.814233,5265.0,2177.816589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,43800.0,18918.244017,49860.0,19017.513202,11505.0,4337.360031,43605.0,15111.666299,62415.0,23066.695678,...,54870.0,22196.228663,65670.0,31071.766821,4875.0,2111.263269,43080.0,20156.794395,47040.0,21264.070603
44636,43785.0,19867.754829,49815.0,21431.486364,6225.0,2268.680817,26775.0,12406.649332,61125.0,23475.396355,...,54855.0,18511.979934,65715.0,28634.535813,4830.0,2200.013277,24480.0,9690.532214,47070.0,18485.663210
44637,43815.0,17023.033856,49860.0,17858.897454,6210.0,2570.115224,11745.0,4271.323644,60360.0,22164.981828,...,54915.0,26161.056225,65775.0,26218.229872,4800.0,1765.442794,13170.0,5518.668285,36945.0,12291.899682
44638,44175.0,15259.404046,49800.0,19720.231560,6225.0,2581.399954,7500.0,2910.909524,61410.0,20808.376986,...,54180.0,24123.989126,67530.0,23045.133951,4785.0,1896.422396,6150.0,2635.296942,12885.0,5819.186287
44639,44700.0,19778.119876,49815.0,19717.262783,6210.0,2562.777190,7605.0,2953.359909,61080.0,28002.974901,...,53730.0,18901.958535,67485.0,32039.616736,4770.0,1916.663080,6150.0,2087.958717,10755.0,5107.783055

# Linear Model Training

In [31]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import LinearRegression, Ridge, Lasso, LogisticRegression, SGDRegressor, ElasticNet, ElasticNetCV
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import RidgeCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb
from pylab import *

In [29]:
# splitting data into train and test datasets
X = input_player_df.copy()
y = dpmu_data.copy()
X = StandardScaler().fit_transform(X)
y = StandardScaler().fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

## Ordinary Least Squares

In [27]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("MSE: ", mean_squared_error(y_test, y_pred))

MSE:  0.6196818639961134

## Lasso Model

In [28]:
model = Lasso()

model.fit(X_train, y_train)
        
y_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_pred))

1.0006278810217208

## Ridge Model

In [29]:
model = Ridge()
model.fit(X_train, y_train)
        
y_pred = model.predict(X_test)
print(mean_squared_error(y_test, y_pred))

0.6196817614229254

### Ridge with in-built cross validation

In [30]:
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1]).fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(mean_squared_error(y_test, y_pred))

0.6196817614201668

## Elastic Net with Cross Validation and Hyperparameter Tuning

In [ ]:
model = ElasticNet()

# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define grid
grid = dict()
grid['alpha'] = [1e-2, 1e-1, 0.0, 10.0, 100.0]
grid['l1_ratio'] = arange(0, 1, 0.1)
# define search
search = GridSearchCV(model, grid, scoring='neg_mean_squared_error', cv=cv, n_jobs=-1)
# perform the search
results = search.fit(X_train, y_train)
# summarize
print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

In [31]:
model = ElasticNet(alpha=100, l1_ratio=0.02)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("MSE: ", mean_squared_error(y_test, y_pred))

MSE:  1.0006278810217208

In [32]:
y_pred

array([[ 5.51742046e-04,  6.67610641e-04,  5.22946525e-04, ...,
        -3.46026559e-04, -2.53085719e-04,  6.13698009e-06],
       [ 5.51742046e-04,  6.67610641e-04,  5.22946525e-04, ...,
        -3.46026559e-04, -2.53085719e-04,  6.13698009e-06],
       [ 5.51742046e-04,  6.67610641e-04,  5.22946525e-04, ...,
        -3.46026559e-04, -2.53085719e-04,  6.13698009e-06],
       ...,
       [ 5.51742046e-04,  6.67610641e-04,  5.22946525e-04, ...,
        -3.46026559e-04, -2.53085719e-04,  6.13698009e-06],
       [ 5.51742046e-04,  6.67610641e-04,  5.22946525e-04, ...,
        -3.46026559e-04, -2.53085719e-04,  6.13698009e-06],
       [ 5.51742046e-04,  6.67610641e-04,  5.22946525e-04, ...,
        -3.46026559e-04, -2.53085719e-04,  6.13698009e-06]])

In [33]:
y_test

array([[-0.50501366, -0.02728985, -0.06192683, ...,  0.08146429,
         0.05091415,  0.15119249],
       [-0.01195319,  0.32616528,  0.31947473, ...,  0.97160698,
         0.9652842 ,  0.95646288],
       [-0.14994049,  0.48477615,  0.52276003, ..., -0.84342987,
        -0.80216341, -0.72978663],
       ...,
       [ 0.67223454,  0.57048549,  0.59944809, ...,  1.57331541,
         1.57796147,  1.41825285],
       [-1.62090218, -1.86951638, -1.80705427, ..., -0.02998343,
         0.02899179,  0.15983542],
       [-0.00488768,  0.39398804,  0.43682996, ..., -0.38833386,
        -0.44605693, -0.47463591]])

# Neural Network

In [64]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.model_selection import RepeatedKFold                                          
from keras.layers import BatchNormalization
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import SGD
from keras import regularizers
from numpy import linalg as LA

In [39]:
# get the dataset
def get_dataset():
    X, y = input_player_df.copy().to_numpy(), dpmu_data.copy().to_numpy()
    #X = StandardScaler().fit_transform(X)
    #y = StandardScaler().fit_transform(y)
    X_val = X[9280:]
    y_val = y[9280:]
    X = X[:9279]
    y = y[:9279]
    return X, y, X_val, y_val

In [45]:
# get the model
def get_model(n_inputs, n_outputs):
    model = Sequential()
    model.add(Dense(20, input_dim=n_inputs, kernel_initializer='he_uniform', activation = 'relu')) #kernel_regularizer=regularizers.l2(0.01)))
    #custom_optimizer = SGD(learning_rate = 0.02)
    #model.add(Dense(40, activation='relu'))
    #model.add(Dense(20, activation='sigmoid'))
    model.add(Dense(n_outputs))
    #model.add(BatchNormalization())
    model.compile(loss='mse', optimizer='adam')
    return model

In [29]:
# evaluate a model using repeated k-fold cross-validation
def evaluate_model(X, y):
    results = list()
    n_inputs, n_outputs = X.shape[1], y.shape[1]
    # define evaluation procedure
    cv = RepeatedKFold(n_splits=3, n_repeats=3, random_state=1)
    # enumerate folds
    for train_ix, test_ix in cv.split(X):
        # prepare data
        X_train, X_test = X[train_ix], X[test_ix]
        y_train, y_test = y[train_ix], y[test_ix]
        # define model
        model = get_model(n_inputs, n_outputs)
        # fit model
        model.fit(X_train, y_train, verbose=1, epochs=10)
        # evaluate model on test set
        mse = model.evaluate(X_test, y_test, verbose=1)
        # store result
        results.append(mse)
    
    return results, model

In [46]:
# load dataset
X, y, X_val, y_val = get_dataset()
# evaluate model
results, model = evaluate_model(X, y)
# summarize performance
print('MSE: %.3f (%.3f)' % (mean(results), std(results)))

Epoch 1/10
194/194 [==============================] - 1s 3ms/step - loss: 98189264.0000
Epoch 2/10
194/194 [==============================] - 1s 3ms/step - loss: 12838145.0000
Epoch 3/10
194/194 [==============================] - 1s 3ms/step - loss: 7598304.5000
Epoch 4/10
194/194 [==============================] - 1s 4ms/step - loss: 5658132.5000
Epoch 5/10
194/194 [==============================] - 0s 2ms/step - loss: 3521902.7500
Epoch 6/10
194/194 [==============================] - 0s 2ms/step - loss: 1605612.5000
Epoch 7/10
194/194 [==============================] - 0s 2ms/step - loss: 964340.7500
Epoch 8/10
194/194 [==============================] - 0s 2ms/step - loss: 676214.3750
Epoch 9/10
194/194 [==============================] - 0s 2ms/step - loss: 501731.8438
Epoch 10/10
194/194 [==============================] - 0s 2ms/step - loss: 383130.7812
97/97 [==============================] - 0s 3ms/step - loss: 356476.0312
Epoch 1/10
194/194 [==============================] - 1s 1ms/step - loss: 107020752.0000
Epoch 2/10
194/194 [==============================] - 0s 2ms/step - loss: 14102923.0000
Epoch 3/10
194/194 [==============================] - 1s 3ms/step - loss: 8380342.0000TA: 0s - loss: 9
Epoch 4/10
194/194 [==============================] - 1s 3ms/step - loss: 6361091.5000
Epoch 5/10
194/194 [==============================] - 1s 3ms/step - loss: 1684550.5000
Epoch 6/10
194/194 [==============================] - 1s 3ms/step - loss: 784826.0625
Epoch 7/10
194/194 [==============================] - 1s 3ms/step - loss: 478142.2812
Epoch 8/10
194/194 [==============================] - 0s 2ms/step - loss: 310913.1250
Epoch 9/10
194/194 [==============================] - 0s 2ms/step - loss: 213375.7500
Epoch 10/10
194/194 [==============================] - 0s 2ms/step - loss: 150415.8438
97/97 [==============================] - 0s 1ms/step - loss: 161566.5469
Epoch 1/10
194/194 [==============================] - 1s 3ms/step - loss: 100925512.0000
Epoch 2/10
194/194 [==============================] - 0s 2ms/step - loss: 11289577.0000
Epoch 3/10
194/194 [==============================] - 0s 2ms/step - loss: 6030512.5000
Epoch 4/10
194/194 [==============================] - 0s 2ms/step - loss: 2579963.5000
Epoch 5/10
194/194 [==============================] - 1s 4ms/step - loss: 1092377.0000
Epoch 6/10
194/194 [==============================] - 1s 3ms/step - loss: 638031.0625
Epoch 7/10
194/194 [==============================] - 0s 2ms/step - loss: 417641.8125
Epoch 8/10
194/194 [==============================] - 0s 2ms/step - loss: 292187.1562
Epoch 9/10
194/194 [==============================] - 0s 2ms/step - loss: 215541.4219
Epoch 10/10
194/194 [==============================] - 0s 2ms/step - loss: 165370.8750
97/97 [==============================] - 0s 2ms/step - loss: 166605.6406
Epoch 1/10
194/194 [==============================] - 1s 2ms/step - loss: 205204912.0000
Epoch 2/10
194/194 [==============================] - 1s 3ms/step - loss: 19315400.0000
Epoch 3/10
194/194 [==============================] - 0s 2ms/step - loss: 9702061.0000
Epoch 4/10
194/194 [==============================] - 0s 2ms/step - loss: 7481288.5000
Epoch 5/10
194/194 [==============================] - 0s 2ms/step - loss: 6599252.5000
Epoch 6/10
194/194 [==============================] - 0s 2ms/step - loss: 6122930.5000
Epoch 7/10
194/194 [==============================] - 0s 2ms/step - loss: 5778002.5000
Epoch 8/10
194/194 [==============================] - 0s 2ms/step - loss: 5350993.5000
Epoch 9/10
194/194 [==============================] - 0s 2ms/step - loss: 4134763.2500
Epoch 10/10
194/194 [==============================] - 0s 2ms/step - loss: 2037832.3750
97/97 [==============================] - 0s 2ms/step - loss: 1456977.0000
Epoch 1/10
194/194 [==============================] - 1s 2ms/step - loss: 143142736.0000
Epoch 2/10
194/194 [==============================] - 1s 3ms/step - loss: 14291780.0000
Epoch 3/10
194/194 [==============================] - 0s 2ms/step - loss: 8117776.5000
Epoch 4/10
194/194 [==============================] - 0s 1ms/step - loss: 6604749.5000
Epoch 5/10
194/194 [==============================] - 0s 1ms/step - loss: 6040485.0000
Epoch 6/10
194/194 [==============================] - 0s 1ms/step - loss: 5761740.5000
Epoch 7/10
194/194 [==============================] - 0s 1ms/step - loss: 5575064.0000
Epoch 8/10
194/194 [==============================] - 0s 1ms/step - loss: 5393634.0000
Epoch 9/10
194/194 [==============================] - 0s 1ms/step - loss: 5115493.5000
Epoch 10/10
194/194 [==============================] - 0s 1ms/step - loss: 4490239.5000
97/97 [==============================] - 0s 2ms/step - loss: 3998770.0000
Epoch 1/10
194/194 [==============================] - 1s 2ms/step - loss: 67695952.0000
Epoch 2/10
194/194 [==============================] - 1s 3ms/step - loss: 9993568.0000
Epoch 3/10
194/194 [==============================] - 1s 3ms/step - loss: 7115055.5000
Epoch 4/10
194/194 [==============================] - 1s 3ms/step - loss: 6323378.0000
Epoch 5/10
194/194 [==============================] - 1s 3ms/step - loss: 5998968.0000
Epoch 6/10
194/194 [==============================] - 1s 3ms/step - loss: 5771097.0000
Epoch 7/10
194/194 [==============================] - 1s 3ms/step - loss: 3397473.0000
Epoch 8/10
194/194 [==============================] - 1s 3ms/step - loss: 721619.1250
Epoch 9/10
194/194 [==============================] - 1s 3ms/step - loss: 362912.9688
Epoch 10/10
194/194 [==============================] - 1s 3ms/step - loss: 220915.1562
97/97 [==============================] - 0s 2ms/step - loss: 189833.5000
Epoch 1/10
194/194 [==============================] - 1s 2ms/step - loss: 149433296.0000
Epoch 2/10
194/194 [==============================] - 0s 2ms/step - loss: 14399052.0000
Epoch 3/10
194/194 [==============================] - 0s 2ms/step - loss: 8632573.0000
Epoch 4/10
194/194 [==============================] - 0s 2ms/step - loss: 7058079.5000
Epoch 5/10
194/194 [==============================] - 1s 3ms/step - loss: 6421837.5000
Epoch 6/10
194/194 [==============================] - 1s 3ms/step - loss: 6109903.5000
Epoch 7/10
194/194 [==============================] - 1s 3ms/step - loss: 5933293.0000
Epoch 8/10
194/194 [==============================] - 1s 3ms/step - loss: 5819835.5000
Epoch 9/10
194/194 [==============================] - 1s 3ms/step - loss: 5637127.5000
Epoch 10/10
194/194 [==============================] - 1s 3ms/step - loss: 2181692.0000
97/97 [==============================] - 0s 2ms/step - loss: 780124.0625
Epoch 1/10
194/194 [==============================] - 1s 1ms/step - loss: 161537504.0000
Epoch 2/10
194/194 [==============================] - 0s 2ms/step - loss: 24300992.0000
Epoch 3/10
194/194 [==============================] - 1s 3ms/step - loss: 10582046.0000
Epoch 4/10
194/194 [==============================] - 1s 3ms/step - loss: 6315274.5000
Epoch 5/10
194/194 [==============================] - 1s 3ms/step - loss: 4415576.5000
Epoch 6/10
194/194 [==============================] - 1s 3ms/step - loss: 3374217.0000
Epoch 7/10
194/194 [==============================] - 1s 3ms/step - loss: 2721598.7500
Epoch 8/10
194/194 [==============================] - 0s 2ms/step - loss: 2269020.5000
Epoch 9/10
194/194 [==============================] - 0s 2ms/step - loss: 1927882.2500
Epoch 10/10
194/194 [==============================] - 0s 2ms/step - loss: 1647279.2500
97/97 [==============================] - 0s 1ms/step - loss: 1542885.1250
Epoch 1/10
194/194 [==============================] - 1s 1ms/step - loss: 84686800.0000
Epoch 2/10
194/194 [==============================] - 0s 1ms/step - loss: 10575783.0000
Epoch 3/10
194/194 [==============================] - 0s 2ms/step - loss: 6956794.0000
Epoch 4/10
194/194 [==============================] - 1s 3ms/step - loss: 5938746.0000
Epoch 5/10
194/194 [==============================] - 0s 2ms/step - loss: 4606186.0000
Epoch 6/10
194/194 [==============================] - 0s 2ms/step - loss: 1535147.6250
Epoch 7/10
194/194 [==============================] - 0s 2ms/step - loss: 644649.1250
Epoch 8/10

194/194 [==============================] - 0s 2ms/step - loss: 427245.4062
Epoch 9/10
194/194 [==============================] - 0s 2ms/step - loss: 308055.8750
Epoch 10/10
194/194 [==============================] - 0s 2ms/step - loss: 230921.3906
97/97 [==============================] - 0s 2ms/step - loss: 242249.7031
MSE: 988387.512 (1182534.975)

In [55]:
y_pred = pd.DataFrame(model.predict(X_val))

In [56]:
y_pred

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,2524.309814,3029.708496,3286.672363,2905.084717,4186.301270,1818.209839,2809.260254,3887.858154,3522.910400,3007.936279,...,2062.717285,1353.752075,1808.182617,1286.965332,3776.500732,3596.705322,1459.267944,2904.502441,2843.442383,2456.086914
1,2138.113037,3167.153320,3844.807373,3001.554932,5667.322754,627.285034,2835.089844,5053.088867,4308.857422,3229.332764,...,1168.113037,-405.612305,727.360474,-396.124542,4818.908691,4514.907715,-5.269863,3067.885010,2837.710693,2091.290527
2,2404.252930,2437.848877,2339.942871,2363.926514,2406.616211,2411.803955,2336.253662,2391.683350,2368.278320,2357.053223,...,2396.062500,2445.829834,2321.333740,2332.995850,2389.790771,2331.566895,2314.655029,2313.635254,2388.330811,2331.162598
3,2462.972412,2351.617432,2431.834717,2474.276123,2328.240234,2552.298584,2523.969971,2544.126953,2465.173584,2318.081543,...,2530.024658,2325.520752,2396.880371,2483.793701,2536.714844,2445.589600,2541.521973,2464.361816,2452.336670,2383.987793
4,2317.319092,1417.815186,2477.500977,2614.825439,1442.860962,2846.203613,3087.099365,2906.366455,2532.363281,1654.678223,...,2791.758301,1206.388916,2357.904785,2848.331055,2869.513916,2612.142822,3319.825195,2832.379395,2338.211182,2220.669434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,912.886414,925.569397,888.685547,897.656189,913.891113,915.838501,887.307556,908.291992,899.412781,894.918213,...,909.952393,928.518494,881.369446,885.645264,907.444763,885.285583,878.769104,878.752075,906.703796,885.349243
79996,855.173157,867.046814,832.524414,840.914062,856.125183,857.947205,831.235840,850.887329,842.570251,838.336060,...,852.442444,869.801147,825.645325,829.635254,850.080505,829.316956,823.202820,823.224548,849.367371,829.398743
79997,-260.957642,1789.256714,1542.692505,3424.422119,544.600220,-299.720642,-668.449829,-822.638794,1107.510742,2419.265137,...,-1338.161621,3123.739746,1467.689087,1540.570557,1572.186646,-472.560242,1620.866821,299.456024,-992.225647,2981.432129
79998,-781.722900,2218.898682,1873.480835,4628.684082,398.996216,-839.854309,-1368.044434,-1603.297607,1230.699463,3156.058350,...,-2359.917725,4174.322754,1766.715820,1871.717285,1908.533813,-1079.922485,1992.455200,54.903320,-1851.248169,3984.516846
79999,-825.032593,2477.530273,2095.924561,5128.285645,474.313599,-888.908813,-1471.295166,-1729.358032,1388.991577,3507.646240,...,-2561.921631,4629.523926,1978.207764,2093.956543,2135.260254,-1154.253052,2226.538818,94.261108,-2002.207764,4418.901855

In [58]:
y_val = pd.DataFrame(y_val)

In [59]:
mean_squared_error(y_pred, y_val)

2551543.2733044294

In [61]:
scaling_all = pd.concat([y_val,y_pred], keys=['y_test','y_pred'])
#scaling the df
scaler = StandardScaler()
scaler.fit(scaling_all)
#storing scaled values into a df
scaledDF = pd.DataFrame(scaler.transform(scaling_all))
print(scaledDF.shape)

(160000, 24)

In [62]:
#splitting df back into the y_pred and y_test
scaled_y_pred = scaledDF[:80000]
scaled_y_test = scaledDF[80000:]

In [65]:
#finding L2 norm of the y_test_scaled vectors
L2_ratios = []
for index, row in scaled_y_test.iterrows():
    L2_ratios.append(LA.norm(row))

In [66]:
#dividing all y_pred by the L2 ratios:
ratio_index = 0
scaled_ratio_y_pred = []
for index, row in scaled_y_pred.iterrows():
    scaled_ratio_y_pred.append(row/L2_ratios[ratio_index])
    ratio_index += 1

In [67]:
print("MSE: ", (mean_squared_error(scaled_y_test, scaled_ratio_y_pred)))

MSE:  2.0170616407961814